{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- The title is now managed by the base template -->
</head>
<body>
    <h1>Login</h1>
    <form action="{{ url_for('login') }}" method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.email.label }} {{ form.email }}
            <!-- Display errors for email field if any -->
            {% if form.email.errors %}
                <ul class="errors">
                    {% for error in form.email.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.password.label }} {{ form.password }}
            <!-- Display errors for password field if any -->
            {% if form.password.errors %}
                <ul class="errors">
                    {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.remember }} {{ form.remember.label }}
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>
</body>
</html>
{% endblock %}