<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minecraft Server Hosting</title>
</head>
<body>
    <h1>Welcome to Minecraft Server Hosting</h1>
    <form action="/rent_server" method="post">
        <select name="server_type">
            <option value="price_1OOrfWJxVhVlFzT6yrZsLu8m">2GB Server - $10</option>
            <option value="price_1OOrfmJxVhVlFzT6Jsrxd3W6">4GB Server - $20</option>
            <option value="price_1OOrg7JxVhVlFzT68Xzkdgc9">8GB Server - $40</option>
        </select>
        <button type="submit">Rent a Server</button>
        <a href="/admin">Go to Admin Page</a>
    </form>
</body>
</html>